[submodule "uplink/lib/SDL"]
	path = uplink/lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "uplink/lib/freetype"]
	path = uplink/lib/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "uplink/lib/binreloc"]
	path = uplink/lib/binreloc
	url = https://github.com/limbahq/binreloc.git
[submodule "uplink/lib/zlib"]
	path = uplink/lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "uplink/lib/loki_setup"]
	path = uplink/lib/loki_setup
	url = https://github.com/DeathCamel58/loki_setup.git
[submodule "uplink/lib/loki_setupdb"]
	path = uplink/lib/loki_setupdb
	url = https://github.com/megastep/loki_setupdb.git
[submodule "uplink/lib/SDL_mixer"]
	path = uplink/lib/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "uplink/lib/libtiff"]
	path = uplink/lib/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "uplink/lib/mikmod"]
	path = uplink/lib/mikmod
	url = https://git.code.sf.net/p/mikmod/mikmod
[submodule "uplink/lib/xz"]
	path = uplink/lib/xz
	url = https://git.tukaani.org/xz.git
[submodule "uplink/lib/ftgl"]
	path = uplink/lib/ftgl
	url = https://github.com/ulrichard/ftgl.git
[submodule "uplink/lib/irclib"]
	path = uplink/lib/irclib
	url = https://github.com/leitec/irclib.git